@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  background-color: #0a0a0a;
}

h3 {
  margin: 0;
  text-transform: uppercase;
}
